@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Koulen&family=Rubik:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background: #f4f4f4;

}

.espacios-small {
    padding-top: 80px;
    padding-bottom: 60px;
}


.navcontainer {
    max-width: 90%;
}


.navbar-light .navbar-nav .nav-link {
    color: #343434;
    font-size: 20px;
}

.centrado {
    text-align: center;
}

.margintop {
    margin-top: 35px;
}

.margins-small {
    margin-bottom: 20px;
}

.espacios {
    padding-top: 80px;
    padding-bottom: 80px;
}

.espacios-small {
    padding-top: 10px;
    padding-bottom: 10px
}

.zindex-1 {
    z-index: 1;
}

.position-relative {
    position: relative;
}

.container {
    max-width: initial;
}

.section_hero-main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section_hero-main h1 {
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    padding: 20px;
    z-index: 1;
    color: #f4f4f4;
}

.hero-container {
    max-width: 1600px;
}

.main-button-about {
    background: #ffde59;
    padding: 18px;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 15px;
    margin-top: 10px;
}

.hero-section {
    width: 100%;
    background: #faf9f7;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.message-inner {
    padding-bottom: 100px;
    max-width: 650px;
}

.message-inner___ {
    max-width: 650px;
}

.margins-small {
    margin-bottom: 20px;
}

.alignleft {
    text-align: left;
}

.hero-image {
    display: -ms-inline-grid;
}

.hero-image2 {
    max-width: auto;
}

.bg-img {
    min-height: 175px;
    max-width: auto;
    /* The image used */
    background: url(../images/newnav.svg)no-repeat center center;

    /* Center and scale the image nicely */
    background-size: cover;
    /* Needed to position the navbar */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.custom-shape-divider-top-1652746492 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1652746492 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider-top-1652746492 .shape-fill {
    fill: #f4f4f4;
}

.custom-shape-divider-bottom-1652746064 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652746064 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1652746064 .shape-fill {
    fill: #f4f4f4;
}

.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 5px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    color: #fff;
    background-color: #ffde59;
}

.my-float {
    margin-top: 16px;
}

a:hover {
    color: #3b625f;
}

@media (max-width:991px) {
    .section_hero-main {
        text-align: center;
    }

    .hero-image1 {
        max-width: 60%;
    }

    .img-sesiones {
        max-width: 60%;
    }

    #main_text {
        font-size: 4vh;
    }
}

@media (max-width:600px) {
    .section_hero-main {
        text-align: center;
    }

    .hero-image1 {
        max-width: 60%;
    }

    .img-sesiones {
        max-width: 35%;
    }

    #main_text {
        font-size: 4vh;
    }
}